<!doctype html>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/base.css') }}">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
</head>

<title>Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data> <input type=file name=file>
    <input type=submit value=Upload onclick="loading();">
</form>

{% if merge_rate is not none %}  
<p>
    The merge rate was {{ merge_rate }}.
</p>
{% endif %}

<h1>If this is taking too long...</h1>
<p>
    Download the script and run manually.
</p>

<script type="text/javascript">
    // <![CDATA[
    function loading() {
        $("#loading").show();
        $("#content").hide();
    }
    // ]]>
</script>